@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist);
}

body {
  background: theme(colors.zinc.50);
  color: theme(colors.zinc.900);
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 1rem);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top, 0px);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-left, 0px);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right, 0px);
  }
  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom, 1rem);
  }
}
